/* selected tag{
    property: value;
} */

body {
    background: url(https://upload.wikimedia.org/wikipedia/commons/1/17/Sunsetinthesky.jpg);
    background-repeat: no-repeat;
}


/* div allows us to make containers  */

div {
    background-color: pink;
    border-color: purple;
    border-width: thick;
    border-style: dotted;
}

h1 {
    color: blueviolet;
}

li {
    color: rgb(255, 97, 0);
}

p {
    color: #0e0f02;
}

h4 {
    color: rgba(255, 97, 0, 0.9);
}

span {
    background-color: yellow;
    color: deeppink;
}